name: Generate Icon Font
on: [push] # Se déclenchera à CHAQUE modification sur n'importe quelle branche

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Generate Font
        run: |
          mkdir -p dist
          npx fantasticon icons/ -o dist/ -n euro-icons -t woff2 --asset-types css --prefix euro-icons-

      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add dist/
          git commit -m "Automated font generation" || exit 0
          git push
